body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #007BFF;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-photo {
    width: 150px; /* Sesuaikan ukuran foto */
    height: auto;
    border-radius: 50%; /* Membuat foto berbentuk bulat */
    display: block;
    margin: 0 auto 20px; /* Memusatkan foto dan memberikan jarak di bawahnya */
}

h2 {
    color: #007BFF;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #007BFF;
    color: #ffffff;
}
